# These will be automatically created by Neon Launchpad (https://neon.new).
# You will also need to 
DATABASE_URL=
DATABASE_URL_POOLER=
BETTER_TRANSLATION_API_KEY_HASH_SECRET=
BETTER_TRANSLATION_APP_STATE_SECRET=
